.background {
	-fx-background-image: url("../../../../res/backgrounds/background_2_full_screen.png");
}
.loginButton {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}
.loginButton:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.menuButton:hover {
	 -fx-background-color:  linear-gradient( #33cccc, #3399ff);
}
.menuButton {
	 -fx-background-color:  linear-gradient(#3399ff, #33cccc);
     -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}
.menuButton2{
	 -fx-background-color: linear-gradient(#ff6600 , #cc0000);
     -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}
.menuButton2:hover{
	 -fx-background-color: linear-gradient(#cc0000, #ff6600);
}